#main .header{
  display:flex;
  align-items:center;
  padding: 8px 0;
  border-bottom:1px solid #eee;
}
#main .header .city{
  width: 50px;
  text-align: center;
}
#main .header .inputBox{
  flex:1 1;
  display: flex;
  align-items: center;
  border: 1px solid #ccc;
  background: #fff;
  border-radius:20px;
}
#main .header .inputBox span{
  width: 40px;
  text-align: center;
  font-size: 18px;
  border-right:1px solid #ccc;
}
#main .header .inputBox input{
  height: 30px;
  border: 0;
  outline:0px;
  width:100%;
  border-radius:20px;
  text-indent: 5px;
}
#main .header .map{
  margin-left: auto;
  width:50px;
  text-align: center;
}